<section>
  <h1>Consultas</h1>

  <input placeholder="Filtrar por mascota" [(ngModel)]="searchQuery" (ngModelChange)="searchQuery$.next($event)">

  <table mat-table [dataSource]="sourceData">

    <ng-container matColumnDef="nombreMascota">
      <th mat-header-cell *matHeaderCellDef>Nombre Mascota</th>
      <td mat-cell *matCellDef="let consulta">
        {{consulta.Mascota.Nombre}}
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let consulta">
        {{consulta.Fecha | date: 'dd/mm/yyyy'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let consulta">
        {{consulta.Descripcion}}
      </td>
    </ng-container>

    <ng-container matColumnDef="calificacion">
      <th mat-header-cell *matHeaderCellDef>Calificación</th>
      <td mat-cell *matCellDef="let consulta">
        <ng-rating-bar [(value)]="consulta.Calificacion" [ratingCount]="5" (valueChange)="changeRating(consulta)">
        </ng-rating-bar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
  </table>
  <!-- <mat-paginator class="page-number" [length]="100" [pageSize]="10" [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = $event">
  </mat-paginator> -->
</section>
