@import 'variables';

:host::ng-deep {
  .mat-paginator-page-size {
    align-items: center !important;
  }

  .mat-header-cell {
    vertical-align: middle;
    font-size: 1.7em;
    padding-left: 1rem;
    border-color: $primary-color;
    font-family: "Montserrat", sans-serif;

    &:first-of-type {
      padding: 1rem !important;
    }
  }

  .mat-cell {
    padding: 1rem !important;
    text-align: left !important;
    vertical-align: middle;
    font-size: 1.3em;
    border-color: $primary-color;
    background-color: $light-orange;
    color: $grey-color;
    font-weight: 500;
    font-family: "Montserrat", sans-serif !important;
  }
}

table {
  width: 100%;
  border-collapse: separate !important;
}

section {
  height: 44rem;
  padding: 4rem;
  height: 100%;

  h1 {
    font-size: 3em;
    margin: 3rem 0.5rem;
    color: $primary-color;
  }

  .profile-section {
    display: flex;
    font-size: 1.5em;
    flex-direction:column;
    background-color: wheat;
    padding: 2rem;
    border-radius: 0.5rem;
    flex-direction: column;
  }

  .item-atribute{
    display: flex;
    padding: 0.5rem 2rem;
    justify-content: left;
    font-size: 1.3em;
    color: $grey-color;
    user-select:none;
    width: 100%;

    .atribute-title {
      margin-right: 2rem;
    }
  }

  .button-section{
    display: flex;
    justify-content:center;
    margin-top: 3rem;
  }
}

.btn {
  padding: 1.3rem;
  font-size: 1.7em;
  background-color: $primary-color;
  border-radius: 3rem;
  color: $white-color;
  min-width: 22rem;
  margin: 0 2rem;
  text-align: center;
}
