@import 'variables';

:host::ng-deep {
  .mat-paginator-page-size {
    align-items: center !important;
  }

  .mat-header-cell {
    vertical-align: middle;
    font-size: 1.7em;
    padding-left: 1rem;
    border-color: $primary-color;

    &:first-of-type {
      padding: 1rem !important;
    }
  }

  .mat-cell {
    padding: 1rem !important;
    text-align: left !important;
    vertical-align: middle;
    font-size: 1.3em;
    border-color: $primary-color;
    background-color: $light-orange;
  }
}

table {
  width: 100%;
  border-collapse: separate !important;
}

section {
    height: 44rem;
    padding: 4rem;
    height: 100%;

    h1 {
        font-size: 3em;
        margin: 3rem 0.5rem;
        color: $primary-color;
    }

    .profile-section {
        display: flex;
        font-size: 1.5em;
        padding-left: 2rem;
        flex-direction:column;
    }

    .item-atribute{
        display: flex;
        padding: 0.5rem 2rem;
        justify-content: left;
        font-size: 1.5em;
        color: $grey-color;
        user-select:none;
        width: 30rem;
    }

    .button-section{
        display: flex;
        justify-content:center;
        margin-top: 3rem;
            
        .action-btn{
            display: flex;
            justify-content: center;
            font-size: 1.5em;
            color: $white-color;
            background-color: $primary-color;
            padding: 1rem;
            border-radius: 0.2rem;
            width: 30rem;
            user-select:none;
            align-items: center;
            margin: 0 3rem 3rem     0;
          
            &:hover {
              background-color: $dark-primary-color;
              transition: all 0.5s;
            }
            &:active{
              box-shadow: 0 0.063rem 0.5rem $light-black-color;
              transition: all 0s;
            }
        }
    }
}

