<div class="container">
  <div class="form-section" [class.register]="currentStep === 'register'">
    <ng-container *ngIf="currentStep === 'login'; else register">
      <!-- login form -->
      <form [formGroup]="loginForm">
        <h1>Iniciar sesión</h1>

        <div class="form-row">
          <label>Usuario</label>
          <input placeholder="Ingresar usuario" formControlName="name"
            [class.invalid-input]="loginForm.get('name').errors?.required && loginSubmitted">
          <p [class.hide]="!(loginForm.get('name').errors?.required && loginSubmitted)" class="error-msg">
            El usuario no puede ser vacío
          </p>
        </div>

        <div class="form-row">
          <label>Contraseña</label>
          <input type="password" placeholder="Ingresar contraseña" formControlName="password"
            [class.invalid-input]="loginForm.get('password').errors?.required && loginSubmitted">
          <p [class.hide]="!(loginForm.get('password').errors?.required && loginSubmitted)" class="error-msg">
            La contraseña no puede ser vacía
          </p>
        </div>
      </form>
    </ng-container>

    <!-- register form -->
    <ng-template #register>
      <app-user-form (changeStepEmit)="changeStep()" (registerEvent)="registerUser($event)"></app-user-form>
    </ng-template>

    <div class="actions" *ngIf="currentStep === 'login'">
      <button class="btn-submit" (click)="submit()" [disabled]="isDisabled()">Continuar</button>
      <button class="btn-register" (click)="changeStep()">
        Regitrarme
      </button>
    </div>
  </div>
</div>
