<section>
    <div class="close-button-line">
      <button mat-dialog-close class="cross">&times;</button>
    </div>
    <div mat-dialog-content class="user-data">
  
      <form [formGroup]="passwordForm" (submit)="submit()">
        <div class="form-input">
  
          <div class="item-atribute">
            <p>Contraseña actual:</p>
            <input id="passwordActual" class="input input-password" type="password" autocomplete="off" formControlName="passwordActual">
          </div>
  
          <div class="item-atribute">
            <p>Nueva actual:</p>
            <input id="passwordNueva" class="input input-password" type="password" autocomplete="off" formControlName="passwordNueva">
          </div>

          <div class="item-atribute">
            <p>Repetir actual:</p>
            <input id="repetirPassword" class="input input-password" type="password" autocomplete="off" formControlName="repetirPassword">
          </div>
  
        </div>
        <div class="button-row">
          <button type="button" class="button-modal-submit action-btn-cancel" (click)="close()">
            Cancelar
          </button>
          <button type="submit" class="button-modal-submit action-btn-save">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </section>