<section>
  <div class="close-button-line">
    <button mat-dialog-close class="cross">&times;</button>
  </div>
  <div mat-dialog-content class="user-data">
    <form [formGroup]="passwordForm" (submit)="submit()">
      <div class="form-input">

        <div class="item-atribute">
          <label>Contraseña actual</label>
          <input id="passwordActual" class="input input-password" type="password" placeholder="Ingresar contraseña"
            autocomplete="off" formControlName="passwordActual"
            [class.invalid-input]="passwordForm.get('passwordActual').errors?.required && submitted">
          <p [class.hide]="!(passwordForm.get('passwordActual').errors?.required && submitted)" class="error-msg">
            La contraseña no puede ser vacía
          </p>
        </div>

        <div class="item-atribute">
          <label>Nueva actual</label>
          <input id="passwordNueva" class="input input-password" type="password" placeholder="Ingresar contraseña"
            autocomplete="off" formControlName="passwordNueva"
            [class.invalid-input]="(passwordForm.get('passwordNueva').errors?.required || passwordForm.errors?.fieldsDontMatch) && submitted">
          <p [class.hide]="!(passwordForm.get('passwordNueva').errors?.required && submitted)" class="error-msg">
            La contraseña no puede ser vacía
          </p>
        </div>

        <div class="item-atribute">
          <label>Repetir actual</label>
          <input id="repetirPassword" class="input input-password" type="password" placeholder="Repetir contraseña"
            autocomplete="off" formControlName="repetirPassword"
            [class.invalid-input]="(passwordForm.get('repetirPassword').errors?.required || passwordForm.errors?.fieldsDontMatch) && submitted">
          <p [class.hide]="!(passwordForm.get('repetirPassword').errors?.required && submitted)" class="error-msg">
            La contraseña no puede ser vacía
          </p>
          <p [class.hide]="!(passwordForm.errors?.fieldsDontMatch && !passwordForm.controls['repetirPassword']?.errors?.required && submitted)"
            class="error-msg">
            Las contraseñas no coinciden
          </p>
        </div>

      </div>
      <div class="button-row">
        <button type="button" class="btn-cancel" (click)="close()">
          Cancelar
        </button>
        <button type="submit" class="button-modal-submit action-btn-save" [disabled]="passwordForm.invalid && submitted">
          Guardar
        </button>
      </div>
    </form>
  </div>
</section>
