@import 'variables';

.container {
  height: 30rem;
  background-color: $light-black-color;
  padding: 5rem;
  color: $white-color;
  color: white;

  h1 {
    font-size: 2.5em;
    margin-bottom: 2rem;
  }

  .data {
    font-size: 1em;
    vertical-align: -webkit-baseline-middle
  }

  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .contact {
      font-size: 1.7em;
      margin-bottom: 1rem;
    }
  }

  .social-line{
    display: flex;
  }

  .columns {
    display: flex;
    justify-content: space-between;

    .first-column{
      width: 20%;
      vertical-align: middle;
      padding: (0,3,0,3);

      .list {
        font-size: 1.8em;
        p{
          padding-top: 0.6rem;
          margin-bottom: 1rem;
        }
      }
    }

    .second-column {
      width: 20%;
      vertical-align: middle;
    }

    .third-column {
      width: 15%;
      text-align-last: right;
    }

    .fourth-column {
      width: 20%;
      .consult-list{
        display: grid;
        font-size: 2em;
        a{
          padding-bottom: 0.6rem;
          font-size: 0.8em;
        }
      }
    }

  }
}
