<div class="container">
  <div class="columns">

    <div class="first-column">
      <h1><a class="data">Nuestras sucursales:</a></h1>
      <div class="list">
        <p *ngFor="let veterinaria of veterinarias"> ✦ {{veterinaria.Nombre}} - {{veterinaria.Direccion}}</p>
      </div>
    </div>

    <div class="second-column">  
      <div class="row">
        <h1><a class="data">Contáctate con nosotros!</a></h1>
      </div>
      <div class="row">
        <a href="mailto:gestion.veterinarias@ude.com.uy?subject=Consulta generada desde la web"><img src="assets/img/mail.png"></a>
        <p class="contact">gestion.veterinarias@ude.com.uy</p>
      </div>       
      <div class="row">
        <a href="https://wa.link/ueva7k" target="_blank"><img src="assets/img/phone.png"></a>
        <p class="contact">2708 5555</p>
      </div>
    </div>

    <div class="third-column">
      <div class="row">
        <h1><a class="data">¡Seguinos!</a></h1>
      </div>
      <div class="social-line">
        <a target="_blank">
          <img src="assets/img/facebook.png" alt="" matTooltip="Facebook" matTooltipPosition="above">
        </a>
        <a target="_blank">
          <img src="assets/img/twitter.png" alt="" matTooltip="Twitter"
          matTooltipPosition="above">
        </a>
        <a target="_blank">
          <img src="assets/img/google.png" alt=""
          matTooltip="Google+" matTooltipPosition="above">
        </a>
        <a target="_blank">
          <img src="assets/img/linkedin.png"linkedinUrl alt="" matTooltip="LinkedIn" matTooltipPosition="above">
        </a>
      </div>
    </div>

    <div class="fourth-column">
      <h1><a class="data">Consultas</a></h1>
      <div class="consult-list">
        <a class="data">Politicas de privacidad</a>
        <a class="data">Trabaja con nosotros</a>
        <a class="data">Partners</a>   
      </div>
    </div>
  </div>
</div>
