@import 'variables';

.container {
  min-height: 8rem;
  background-color: $primary-color;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0 5rem;
}

.nav-link {
  font-size: 1.8em;
  padding: 0 3rem;
  color: $white-color;
  font-family: Verdana, Arial, Helvetica, sans-serif;

  &.active {
    text-decoration: underline;
  }
}

.logout {
  margin-left: auto;
}
