@import 'variables';

.mgs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  top: 5px;
  left: 5px;
  right: 5px;
  position: absolute;
  z-index: 1010;
  transition: all 0.3s ease-in-out;
  height: 7rem;
}

.message-card {
  align-items: center;
  background-color: $danger-color;
  color: $white-color;
  display: flex;
  min-width: 26rem;
  max-width: 50rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 5.5rem;
  font-size: 1.3em;
  border-radius: 0.8rem;

  button {
    background-color: transparent;
    color: $white-color;
    padding: 1rem;
    font-size: 2em;
    line-height: 0.8;
    border-radius: 0.7rem;
  }

  &.success {
    background-color: $success-color;
    color: $white-color;
  }
}
