@import 'assets/stylesheets/reset';
@import 'assets/stylesheets/variables';
@import 'assets/stylesheets/fonts';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;
}
