$primary-color: orange;
$dark-primary-color: rgb(216, 143, 8);
$white-color: white;
$dark-white-color: #ccc;
$shadow-white-color: #ffffff93;
$light-orange: antiquewhite;
$light-black-color: #312D2D;
$danger-color: red;
$success-color: rgb(26, 224, 26);
$grey-color:grey;
$red-error-color: #fb3636;
$dark-red-color: #fb3636c7;
$shadow-red-color: #bd1717;
$shadow-black-color: #333333;   
